# Build and test the application

name: ".NET 10"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    env:
      DOTNET_VERSION: 10.0.x
      RELEASE_SUBDIR: net10.0

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.0
      with:
        fetch-depth: 0 #avoid shallow clone so nerdbank gitversioning can do its work, see https://github.com/dotnet/Nerdbank.GitVersioning/blob/master/doc/cloudbuild.md


    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5.0.1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Upload build artefact PowerChutePersonalPimp
      uses: actions/upload-artifact@v5
      with:
        name: PowerChutePersonalPimp
        path: D:\a\PowerChutePersonalPimp\PowerChutePersonalPimp\src\PowerChutePersonalPimp\bin\Release\${{ env.RELEASE_SUBDIR }}\


